:host {
   display: block;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

header {
    color: rgb(81, 189, 81);
    display: flex;
}

app-video-thumbnail {
    margin-bottom: 1rem;
}

.title {
    flex-grow: 1;
    text-align: center;
}

section {
    background-color: black;
}

.outer-container {
    max-width: 1280px;
    margin: auto;
}

.main-video {
    padding-top: 100% * (19.6875rem/35rem);
    position: relative;
    height: 0;
    margin: auto;
    width: 100%;

    iframe {
        position: absolute;
        top: 0;
    }
}

.drawer-container {
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
}

.example-sidenav {
    padding: 20px;
    width: 200px;
}
