<mat-drawer-container  *ngIf="(mainContentDelivery$ | async) as mainVideo" class="drawer-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-video-thumbnail 
      *ngFor="let item of videoList; let i = index"
      [thumbnail]="{
        index: i,
        title: item.title,
        images: item.images
      }"
      (selected)="selectedVideo(i)">
    </app-video-thumbnail>
  </mat-drawer>
  <main>
    <header>
      <button  class="drawer-btn" [attr.aria-label]="'video list'" (click)="drawer.toggle()">
        <mat-icon>
          <i>list</i>
        </mat-icon>
      </button>
  
      <h2 class="title">{{mainVideo.title}}</h2>
  
      <button class="close-btn" [attr.aria-label]="'close'" (click)="closeViewer()">
        <mat-icon>
          <i>close</i>
        </mat-icon>
      </button>
    </header> 
    <section>
      <div class="outer-container">
        <div class="main-video">
          <iframe
            role="presentation"
            title="trailer"
            width="100%"
            height="100%"
            [src]="mainVideo.url"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </section>
    <footer></footer>

  </main>

</mat-drawer-container>

