@import '../../../../style-themes/themes.scss';

:host {
    display: block;
}

.container {
    position: relative;
    overflow: hidden;
}

.nav-btn {
    align-items: center;
    background-color: rgba($black, 0.3);
    border: none;
    color: rgb(245, 245, 245);
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 15%;

    &:active {
        color: rgb(37, 130, 167);
    }

    &:nth-child(1) {
        left: 0;
    }

    &:nth-child(2) {
        right: 0;
    }
}

ul {
    height: 0;
    overflow: scroll;
    position: relative;
    padding-top: calc(100% * (9/16));

    .slide {
        cursor: pointer;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }
}

h2 {
    bottom: $spacing-100;
    color: $white;
    position: absolute;
    left: 50%;
    text-align: center;
    text-shadow: 0 0 $spacing-100 $black;
    transform: translateX(-50%);
    width: 98%;
    z-index: 2;
}

.img-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}


.icon {
    font-size: $font-size-900;
    height: auto;
    width: auto;
}

@media only screen and (min-width: 37.5rem) {
    h2 {
        bottom: $spacing-300;
        font-size: $font-size-800;
        line-height: 3.5rem;
    }

    .nav-btn {
        opacity: 0;
        width: 10%;
    }

    .container:hover {
        button {
            opacity: 1;
        }
    }
}