<div *ngIf="images" class="container">
  <button  class="nav-btn" (click)="onBack()">
    <mat-icon class="icon" label="back">
      <i>navigate_before</i>
    </mat-icon>
  </button>
  <button class="nav-btn" (click)="onForward()">
    <mat-icon class="icon" label="forward">
      <i>navigate_next</i>
    </mat-icon>
  </button>
  <ul [@slideAnimation]="selectedImage">
    <ng-container *ngFor="let img of images; let i = index">
      <li *ngIf="selectedImage === i" 
        class="img-container"
        (swiperight)="onBack()"
        (swipeleft)="onForward()">
        <img [src]="img.src" [alt]="img.alt" [title]="img.title" />
      </li>
    </ng-container>
  </ul>
  <ul class="bullet-container">
    <li *ngFor="let img of images; let i = index"
    class="bullet"
    >
      <button class="bullet-btn" 
        [ngClass]="{
          'selected': selectedImage === i
        }"
        (click)="selectedImage = i"
        [attr.aria.label]="img.title">
      </button>
    </li>
  </ul>
</div>
