<ng-container *ngIf="(searchResults$ | async) as res ; else noSearch">
  <ng-container *ngIf="blankValue; else noSearch">
    <main *ngIf="res.results.length >= 1 ; else noResults" class="main-results">
      <app-page-nav
        [data]="{
          name: 'Page',
          currentPage: res.currentPage,
          totalPages:  res.totalPages
        }"
        (previous)="backPage(res.currentPage)"
        (next)="nextPage(res.currentPage, res.totalPages)">
      </app-page-nav>
      <section class="container">
        <app-card 
          *ngFor="let data of res.results"
          [data]="data"
          (showPage)="navigateToPage($event)"
          (showVideo)="openModel($event)">
        </app-card>
      </section>
      <app-page-nav
        [data]="{
          name: 'Page',
          currentPage: res.currentPage,
          totalPages:  res.totalPages
        }"
        (previous)="backPage(res.currentPage)"
        (next)="nextPage(res.currentPage, res.totalPages)">
      </app-page-nav>
    </main>
  </ng-container>
  
</ng-container>


<ng-template #noSearch>
  <main class="main-no-results">
    <div class="no-results">
      <p>Search Movies, TV shows, and people</p>
    </div>
  </main>
</ng-template>

<ng-template #noResults>
  <main class="main-no-results">
    <div class="no-results">
      <p>Sorry, no results :(</p>
      <p>Please try again!</p>
    </div>
  </main>
</ng-template>