@import '../../../../style-themes/themes.scss';

:host {
    background-color: $main-background-color;
    display: block;
    min-height: $min-layout-height;
}

.main-results {
    background-color: $page-background-color;
    max-width: $min-layout-width-200;
    margin: auto;
    padding: 0 $spacing-300;
}

.container {
    display: grid;
    grid-gap: $spacing-200 $spacing-100;
    grid-template-columns: repeat(auto-fit, minmax(9.875rem, 1fr));
    justify-content: center;
}

.main-no-results {
    height: 100%;
    padding: $spacing-400 0;
    margin: 0 auto;
    max-width: 40.5rem;

    .no-results {
        background-color: rgb(116, 116, 116);
        color: rgb(255, 255, 255);
        font-size: $spacing-300;
        padding: $spacing-400 $spacing-200;
        text-align: center;
        margin: 0 $spacing-300;
    }

    p {
        line-height: $spacing-300;
    }

}

.search-btns {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $spacing-200;
    
    div {
        padding: $spacing-200;
        text-align: center;
    }

    button {
        color: $title-color-100;
    }
}