:host {
    display: block;
    min-height: 80vh;
}

.main-results {
    max-width: 88rem;
    margin: auto;
    padding: 0 1.5rem;
}

.container {
    display: grid;
    grid-gap: 1rem 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(9.875rem, 1fr));
    justify-content: center;
}

.main-no-results {
    margin: 2rem auto;
    max-width: 40.5rem;

    .no-results {
        background-color: rgb(116, 116, 116);
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        padding: 2rem 1rem;
        text-align: center;
        margin: 0 1.5rem;
    }

    p {
        line-height: 1.5rem;
    }

}