<ng-container *ngIf="(searchResults$ | async) as res ; else noSearch">
  <main *ngIf="res.results.length > 1 ; else noResults" class="main-results">
    <section>
      <p>Page {{res.currentPage}} of {{res.totalPages}}</p>
      <button 
        (click)="backPage(res.currentPage)"
        [disabled]="res.currentPage <= 1">previous page</button>
      <button 
        (click)="nextPage(res.currentPage, res.totalPages)"
        [disabled]="res.currentPage >= res.totalPages">next page</button>
    </section>
    <section class="container">
      <app-card 
        *ngFor="let data of res.results"
        [data]="data"
        (showVideo)="openModel($event)">
      </app-card>
    </section>
    <section>
      <p>Page {{res.currentPage}} of {{res.totalPages}}</p>
      <button 
        (click)="backPage(res.currentPage)"
        [disabled]="res.currentPage <= 1">previous page</button>
      <button 
        (click)="nextPage(res.currentPage, res.totalPages)"
        [disabled]="res.currentPage >= res.totalPages">next page</button>
    </section>
  </main>
</ng-container>


<ng-template #noSearch>
  <main class="main-no-results">
    <div class="no-results">
      <p>Search Movies, TV shows, and people</p>
    </div>
  </main>
</ng-template>

<ng-template #noResults>
  <main class="main-no-results">
    <div class="no-results">
      <p>Sorry, no results :(</p>
      <p>Please try again!</p>
    </div>
  </main>
</ng-template>