@import '../../../../../style-themes/themes.scss';

$nav-icon-size: $font-size-600;
$radius-size: 1.5625rem; // 25px
$padding-size: 0.9375rem; //15px

:host {
    background-color: $title-color-100;
    border-bottom: $spacing-40 solid $theme-color-200;
    display: block;
    padding: $spacing-200 $spacing-200 $spacing-100 $spacing-200;
}

header {
    margin: auto;
    max-width: $min-layout-width-300;
}

nav {
    padding-bottom: $spacing-100;
}

.logo {
    align-items: center;
    color: $white;
    display: flex;
    font-size: $font-size-500;
    text-decoration: none;
}

.icon-btn {
    border: none;
    background: $white-t;
    padding: $spacing-50;
    text-decoration: none;

    &:active {
        .nav-icon {
            color: $theme-color-300;
        }
    }
}

.nav-icon {
    color: $theme-color-200;
    font-size: $nav-icon-size;
    height: $nav-icon-size;
    width: $nav-icon-size;
}

form {
    align-content: center;
    display: flex;

    input {
        background-color: $white;
        box-sizing: border-box;
        border-radius: $radius-size 0 0 $radius-size;
        padding-left: $padding-size;
        border: none;
        font-size: $font-size-500;
        flex: 1;
        height: $font-size-600;
        width: 100%;
    }

    button {
        background-color: $white;
        border: none;
        border-radius: 0 $radius-size $radius-size 0;
        height: $font-size-600;
    }
}
