<header>
    <nav>
        <a class="logo" [routerLink]="['']">
            Trailer
            <mat-icon class="nav-icon" label="bug">
                <i>bug_report</i>
            </mat-icon>
            Bug
        </a>
    </nav>
    <form>
        <input 
        [attr.aria-labelledby]="search"
        (keyup)="updateSearch(searchValue)"
        [(ngModel)]="searchValue"
        type="text"
        name="search"
        #search="ngModel"> 
        <button id="search" (click)="goToSearch(searchValue)">
            <mat-icon label="search">
                <i>search</i>
            </mat-icon>
        </button>
    </form>    
</header>