$font-size-50: 0.75rem; // 12
$font-size-100: 0.875rem; // 14
$font-size-200: 1rem; // 16
$font-size-300: 1.125rem; // 18
$font-size-400: 1.25rem; // 20
$font-size-500: 1.5rem; // 24
$font-size-600: 2rem; // 32
$font-size-700: 2.5rem; // 40
$font-size-800: 3rem; // 48
$font-size-900: 4rem; // 64