<main>
    <section class="detail-container">
        <div class="container-poster">
            <img src="https://image.tmdb.org/t/p/w500/s8qRIwA0zDPbnRekeU0rDwWE7q7.jpg" alt="name"> 
        </div>
        <div class="detail">
            <h1>Test Name</h1>
            <h3>Genre(s):</h3>
            <ul>
                <li>Animation</li>
                <li>Comedy</li>
                <li>Sci-fi & Fantasy</li>
            </ul>
            <h3>Created by:</h3>
            <ul>
                <li>Sean Harte</li>
                <li>Eli Harte</li>
                <li>Alana Harte</li>
            </ul>
        </div>
    </section>
    <section class="video-banner">
        <img src="https://img.youtube.com/vi/szby7ZHLnkA/hqdefault.jpg" alt="sonic">
        <button class="icon-btn">
            <mat-icon>
                <i>play_circle_outline</i>
            </mat-icon>
        </button>
        <button class="video-num-btn">
            Trailers: 5
        </button>
    </section>
    <section class="closing-container">
        <h2>Description:</h2>
        <p>Panda Ipsum the forest. Panda Ipsum the Red panda red panda likes great panda dancing panda. Board panda bear. It is one of pandas, the family Ailuridae. Panda, panda, panda red panda ipsum eatting bamboo in the only fertile for two or three million years ago. There are only ovulate once each year. During that ovulation period, they are two main types of pandas, the forest. Panda Ipsum the genus Ailurus and the forest as the genus Ailurus and the giant panda loves being cool tiny panda is the family Ailuridae. Panda, panda, panda ipsum with giant black-and-white panda dances. Red.</p>
        <h2>Trailers:</h2>
        <div class="video-list">
            <app-video-thumbnail 
                [thumbnail]="{
                    index: 0,
                    title: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                    images: {
                        alt: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                        smallSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/default.jpg',
                        largeSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/sddefault.jpg'
                    }
                }"
            >
            </app-video-thumbnail>
            <app-video-thumbnail 
                [thumbnail]="{
                    index: 0,
                    title: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                    images: {
                        alt: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                        smallSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/default.jpg',
                        largeSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/sddefault.jpg'
                    }
                }"
            >
            </app-video-thumbnail>
            <app-video-thumbnail 
                [thumbnail]="{
                    index: 0,
                    title: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                    images: {
                        alt: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                        smallSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/default.jpg',
                        largeSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/sddefault.jpg'
                    }
                }"
            >
            </app-video-thumbnail>
            <app-video-thumbnail 
                [thumbnail]="{
                    index: 0,
                    title: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                    images: {
                        alt: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                        smallSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/default.jpg',
                        largeSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/sddefault.jpg'
                    }
                }"
            >
            </app-video-thumbnail>
            <app-video-thumbnail 
                [thumbnail]="{
                    index: 0,
                    title: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                    images: {
                        alt: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                        smallSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/default.jpg',
                        largeSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/sddefault.jpg'
                    }
                }"
            >
            </app-video-thumbnail>
            <app-video-thumbnail 
                [thumbnail]="{
                    index: 0,
                    title: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                    images: {
                        alt: 'Sonic The Hedgehog (2020) - New Official Trailer - Paramount Pictures',
                        smallSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/default.jpg',
                        largeSrc: 'https://img.youtube.com/vi/szby7ZHLnkA/sddefault.jpg'
                    }
                }"
            >
            </app-video-thumbnail>
        </div>
        <p>Sorry, there are no trailers</p>
    </section>
</main>