<main>
    <section class="detail-container">
        <div class="container-poster">
            <img src="https://image.tmdb.org/t/p/w500/s8qRIwA0zDPbnRekeU0rDwWE7q7.jpg" alt="name"> 
        </div>
        <div class="detail">
            <h1>Test Name</h1>
            <h3>Genre(s):</h3>
            <ul>
                <li>Animation</li>
                <li>Comedy</li>
                <li>Sci-fi & Fantasy</li>
            </ul>
            <h3>Created by:</h3>
            <ul>
                <li>Sean Harte</li>
                <li>Eli Harte</li>
                <li>Alana Harte</li>
            </ul>
        </div>
    </section>
    <section class="video-banner">
    </section>
</main>