$play-icon-size: 5rem;

:host {
    background-color: rgb(63, 63, 63);
    display: block;
    padding: 0 1rem;
}

main {
    background-color: rgba(255, 255, 255, 0.85);;
    margin: auto;
    max-width: 56.25rem; //900px
    min-height: 85vh;
}

.detail-container {
    display: flex;
    padding: 1rem;
}

.container-poster {
    flex: 1;
    margin-right: 1rem;

    img {
        width: 100%;
    }
}

.detail {
    flex: 4;

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin-right: 0.25rem;
    }
}

.video-banner {
    background-color: rgb(0, 0, 0);
    height: 0;
    padding-top: 40%;
    position: relative;
    width: 100%;

    img {
        filter: brightness(0.7);
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%, 0);
    }

    .icon-btn {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    mat-icon {
        height: $play-icon-size;
        width: $play-icon-size;
        font-size: $play-icon-size;
    }

    .video-num-btn {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        padding: 0;
        font-size: 1.5rem;
        position: absolute;
        bottom: 0.125rem;
        right: 10%;
    }
}

.closing-container {
    padding: 1rem;
    
    h2 {
        margin-bottom: 0.5rem;
    }

    h2:last-of-type {
        margin-top: 1rem;
    }
}