:host ::ng-deep > button {
    border: none;
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 8px 4px;
    text-transform: uppercase;
}