<header>
  <h1>
    <a [routerLink]="['']">{{title}}</a></h1>
  <form>
    <label for="search">Search:</label>
    <input 
      (keyup)="updateSearch(searchValue)"
      [(ngModel)]="searchValue"
      type="text"
      id="search"
      name="search"
      #search="ngModel"> 
      <button (click)="goToSearch(searchValue)">search</button>
  </form>
</header>
<div [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<ng-template #container></ng-template>
<footer>
  footer
</footer>
