@import '../../../../style-themes/themes.scss';

:host {
    background-color: $page-background-color;
    display: block;
    margin: auto;
    max-width: $min-layout-width-300;
}

section {
    padding: $spacing-400 $spacing-300;
    margin: 0 $spacing-300;
}

.title {
    color: $title-color-100;
    font-size: $spacing-400;
    margin-bottom:$spacing-300;
    text-align: center;
}

.card-grid {
    display: grid;
    grid-gap: $spacing-200 $spacing-100;
    grid-template-columns: repeat(auto-fit, minmax(9.875rem, 1fr));
    justify-content: center;
}


@media only screen and (min-width: 43.75rem) {

    section {
        margin: 0;
    }

    .title {
        font-size: $spacing-500;
        margin-bottom: $spacing-500;
    }
    
    .card-grid {
        grid-gap: $spacing-300 $spacing-200;
        grid-template-columns: repeat(auto-fill, $spacing-1500);
    }
    
}