:host {
    background-color: rgb(73, 73, 73);
    display: block;
    margin: auto;
    max-width: 85rem;
}

section {
    background-color: rgb(245, 245, 245);
    padding: 2rem 1.5rem;
    margin: 0 1.5rem;
}

.title {
    color: rgb(35, 80, 35);
    font-size: 2rem;
    margin-bottom:1.5rem;
    text-align: center;
}

.card-grid {
    display: grid;
    grid-gap: 1rem 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
    justify-content: center;
}


@media only screen and (min-width: 700px) {

    section {
        margin: 0;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    .card-grid {
        grid-gap: 1.5rem 1rem;
        grid-template-columns: repeat(auto-fill, 200px);
    }
    
}