<figure *ngIf="data" class="card-container">
  <div class="img-container">
    <img class="image"[src]="data.image.src" [alt]="data.image.alt">
  </div>
  <div class="overlay">
    <button class="play" (click)="onTriggerVideo()">
      <mat-icon class="play-icon" label="play icon">
        <i>play_circle_outline</i>
      </mat-icon>
    </button>
    <figcaption class="detail-container">
      <h3>{{data.title}}</h3>
      <p class="date">Release date: <em>{{data.releaseDate}}</em></p>
      <p class="dec">{{trimText(data.description)}}</p>
      <a href="javascript:;" (click)="onTriggerPage()" class="link">Look at full page</a>
    </figcaption>
  </div>
</figure>